[
    {	"name": "First test froms tests/main.c",
        "compilation_cmd": "-I src",
        "compilation_database": [
            "compile_commands.json"
        ],
	filesystem: {
	  "enabled": true,
 	  "system_errors": false,
	  "files": [ { "name": "data/grey.jpg", "from": "data/grey.jpg" },
 	  	     { "name": "data/teapot.ppm", "from": "data/teapot.ppm" },
		     { "name": "data/penguin.jpg", "from": "data/penguin.jpg" }],
	  "generated_filename": "tis-mkfs-filesystem.c",
	  "nb_max_files": 20,
	  "nb_max_dirs": 20
	},
        "files": [
            "tests/main.c",
            "tis/stub.c",
            "pdfgen.c",
            "tests/penguin.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main"
    }
]